body {
    background: url('../images/img.png');
    background-size: cover;
    height: 95vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

#upload {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #43796c;
}

#cloud_container {
    border: #329988 dashed 4px;
    padding: 65px 130px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#choose{
    display: inline-block;
    padding: 6px 12px;
    font-size: 20px;
    cursor: pointer;
    color: #28796b;
    font-weight: bold;
}

label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 8px 100px;
    font-size: 20px;
    border-radius: 19px;
    background-color: #43796c;
    border-color: transparent;
    color: white;
    box-shadow: rgb(68, 68, 68) 3px 3px 5px;
    cursor: pointer;
    margin-top: 50px;
}

button:hover{
    background-color: #438173;
    box-shadow: rgb(68, 68, 68) 4px 4px 6px;
}

input{
    display: none;
}